@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

@font-face {
    font-family: 'Caslon335 Bold';
    src: url("/assets/caslon335-bold\ .ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    
}

:host, :root {
    --rem:  ;
}

:root {
    /*--bg-color: hsl(34, 12%, 11%);
    --second-bg-color: #343033;
    --text-color: #ffffff;
    --main-color: #99c7be;*/
    --bg-color: #fee9e4;
    --nice-color: #000000;
    --second-bg-color: #FFFFFF;
    --text-color: #3D405B;
    --main-color: #d87d62;

}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

body{
    font-family: 'europa', sans-serif;
    background: var(--nice-color);
    color:var(--text-color) ;
}

section{
    min-height:100vh ;
    padding: 10rem 9% 2rem;
}

/* h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
} */


nav {
    display: flex;
    width: 100%;
    opacity: 1;
    position: fixed; 
    z-index: 1000; /* Ensure it's on top */
    backdrop-filter: blur(5px); 
  
    /* font-size: 15px; */
   
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0 2px 20px 0 rgba(126, 126, 126, 0.1); */
    -webkit-backdrop-filter: blur(5px);


    /* background: transparent; Optional: Add a solid background */
    padding-bottom: 1.3rem;
}

.nav-style {
    /* padding: 0.5rem 0 0 0.3rem; */
    color: #ffffffce; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.5rem; /* Font size */
    font-weight: 200;
    
}
  
.nav-style:hover {
   color: #f8f8f8; /* Text color on hover */
   text-shadow: 0 0 10px #e4d9ff, 0 0 20px #e4d9ff, 0 0 30px #e4d9ff;
   
}

nav .nav-section {
    padding: 1rem  1.8rem;
    display: flex;
    gap: 1rem;
    /* border-bottom: 1px solid rgba(39, 39, 39, 0.3); */
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}


/* #nav-toggle-button:hover,
#nav-toggle-button:hover > span {
    color: var(--highlight-color);
}

#nav-toggle-button > span,
#nav-toggle-button > i { 
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
} */

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
    padding: 1.3rem 0 0 0.5rem;

}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    justify-content: flex-start;
    padding: 1.25rem 0 0 2.55rem;
}

#nav-logo-section > a > i {
    font-size: 2.5rem;
}

#nav-link-section {
    flex-basis: 50%;
    gap: 50px; 
    padding: 1.2rem 0 0 1.55rem;
}

#nav-social-section {
    gap: 3rem;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Keep it darker on scroll */
}

 
.logo{
    font-size: 1.5rem ;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.resume-btn {
    all: unset;
    width: 100px;
    background-color: #ae93e900;
    color: white;
    border: 3px solid #ae93e984;
    padding: 5px 7px;
    font-size: 14px;
    padding-bottom: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s ease;
}
.resume-btn:hover {
    background-color: #ae93e9a0;
}


#menu-icon {
    font-size: 2.25rem ;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.6rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size:5.6rem;
    font-weight: 700;
    line-height:1.3 ;
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size:2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color) ;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease ;

}

.btn:hover{
    box-shadow: none;   
}

.about{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap:2rem ;
    background: var(--second-bg-color) ;
}

.about-img img{
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 3rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}


.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width : 100%;
    transition: .5s ease;

}

.portfolio-box:hover img{
    transform: scale(1.1);

}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:  translateY(100%);
    transition: .5s ease ;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:  5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}


.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);

}

.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image container */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

/* Carousel images */
.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    align-items: center;
}

/* Navigation buttons */
.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    z-index: 1;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


.contact h2 {
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-banner {
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 479px) {
    .section-banner.stadiabt {
        padding-top: 112px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.section-banner.recwell {
    background-image: radial-gradient(circle farthest-side at 50% 0, #67010175, #0000);
    padding-top: 70px;
}

.section-banner.wdnr {
    background-image: radial-gradient(circle farthest-side at 50% 0, #00573b61, #0000);
    padding-top: 70px;
}

.section-banner.schneider {
    background-image: radial-gradient(circle farthest-side at 50% 0, #87361093, #0000);
    padding-top: 70px;
}

.section-banner.upshift {
    background-image: radial-gradient(circle farthest-side at 50% 0, #c0dca47e, #0000);
    padding-top: 70px;
}


.label-hero {
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.title-hero {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 140%;
}

.meta-hero {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.tag-hero {
    background-color: #dddddd27;
    color: #cacaca;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.read-time-hero{
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 991px) {
    .container-banner {
        width: auto;
    }
}



.container-banner {
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 0.6fr 1fr;
    gap: 8px; /* Adjust spacing between sections */
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    position: relative;
}


.section-hero-1 {
    padding: 2rem 7rem 2rem 9rem;
    /* width: 100%;
    height: 100%; */
}
.section-hero-2 {
    /* width: 100%; */
    padding: 6rem  9rem 1rem 3rem;
    /* height: 100%; */
}

.info-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
    /* padding: 20px; */
}

.info-column {
    text-align: left;
}

.info-label {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.info-content {
    font-size: 18px;
    color: #ffffff;
    font-weight: 350;
    line-height: 150%;
}

.section-hero-3{
    padding: 1.5rem 0 0 4rem;
    /* width: 100%;
    height: 100%; */
}

.section-hero-4 {
    padding:  3rem 7rem 3rem 3rem;
}


.content-container {
    max-width: 600px;
    margin: auto;
}
.process-highlight {
    font-size: 14px;
    text-transform: uppercase;
    color: #a0a0a0;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.main-title {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}
.divider {
    border-bottom: 1px solid #444;
    margin: 2rem 5rem 1rem 0;
}
.challenge-title, .opportunity-title {
    font-size: 18px;
    font-weight: 350;
    color: white;
    margin-top: 2rem;
}
.challenge-text, .opportunity-text {
    font-size: 16px;
    color: #c0c0c0;
    line-height: 140%;
    margin: 5px 0;
}



@media screen and (max-width: 479px) {
    .project-title-hero-wrapper {
        grid-row-gap: 40px;
    }
}

.project-title-hero-wrapper {
    grid-row-gap: 64px;
    flex-direction: column;
    align-items: center;
    display: flex
;
}

@media screen and (max-width: 479px) {
    .title-wrapper {
        grid-row-gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.title-wrapper {
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex
;
}

.project-title-date-wrapper {
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: center;
    display: flex
;
}

@media screen and (max-width: 479px) {
    .text-hero.project-title {
        letter-spacing: -1.5px;
        font-size: 48px;
        line-height: 52px;
    }
}

.text-hero.project-title {
    background-image: linear-gradient(to bottom, #f2f2f2 50%, transparent);
    letter-spacing: -1px;
    /* text-shadow: 0 5px 15px #51010133, 0 -5px 15px #ff5a0026, 0 -5px 25px #ffffff40; */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 64px;
    line-height: 72px;
}

@media screen and (max-width: 479px) {
    .text-projectpage-year {
        letter-spacing: -.25px;
        font-size: 16px;
        line-height: 20px;
    }
}

.text-projectpage-year {
    opacity: .5;
    color: #f2f2f2;
    text-align: center;
    font-family: Neue Montreal, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}


element.style {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}

@media screen and (max-width: 479px) {
    .project-banner-image-wrapper {
        justify-content: center;
        display: flex
;
    }
}
.project-banner-image-wrapper {
    align-self: stretch;
}

.project-overview-noise {
    z-index: 2;
    opacity: .5;
    mix-blend-mode: overlay;
    background-image: url(https://d14xe37va4uv2q.cloudfront.net/pearl_portfolio_assets/Recwell-project/noise.png);
    background-size: 240px;
    position: absolute;
    inset: 0%;
}


.title-information-container {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    width: 100%;
    padding: 2rem 5rem 2.5rem;
    display: flex;
    line-height: 125%;
    font-family: Figtree, sans-serif;
    color: white;
;
}

.title-columns {
    font-size: 2rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template: "Area Area Area Area Area.Area-2 Area-2 Area-2 Area-2 Area-2 Area-2" / minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr) minmax(32px, 1fr);
    grid-auto-columns: 1fr;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid
;
}

#w-node-_81c0fbc5-d50e-9b48-62b3-f3671456dec5-f1f13735 {
    grid-area: Area;
}
.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex
;
}

.project-subtitle {
    grid-column-gap: var(--16);
    font-size: 1rem;
    grid-row-gap: var(--16);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: white
;
}

.tag {
    padding: .375rem var(--12);
    border-radius: var(--4);
    /* background-color: #191a1d1a; */
    display: inline-block;
    font-size: 1rem;
}


.text-charcoal-60 {
    color: var(--charcoal-60);
}

#w-node-_08d1b835-a3a1-904d-92f9-ba83bc7202e1-f1f13735 {
    grid-area: Area-2;
}

.project-info {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    font-size: 1rem;
}

.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex
;
}

.project-info-text {
    margin-bottom: 0;
    font-size: 1rem;
}




@media screen and (max-width: 479px) {
    .project-fade {
        height: 80px;
    }
}
.project-fade {
    z-index: 4;
    background-image: linear-gradient(to bottom, transparent, #000000);
    height: 240px;
    position: absolute;
    inset: auto 0% 0%;
}

/* .text-before-image {
    background-color: #0a2a3b; 
    text-align: center;
    padding: 50px 20px;
    color: #fff;
    font-family: 'Arial', sans-serif;

    text-align: center;
}
.hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4);
    margin: 0;
}
.hero-subtitle {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    margin-top: 10px;
} */

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

#about-panels {
    max-width: 100vw;
    height: 40vh;
    min-height: 380px;
    position: inherit;
}

/* .panel-1 {
    background-image: url();
    width: 25%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    background-position: center center;
}

.panel-2 {
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    float: left; */

.panel {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 1);
    float: left;
}

/* Faint Lines */
.faint-line {
    width: 95%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); /* Faint white line */
    margin: 1.2rem 2.5rem; 
    
}
  
  /* Connect Section Styling */
.connect-section-wrapper {
    padding-top: 7rem;
    text-align: left;
    width: 100%;
   
}
  
.connect-section {
    display: flex;
    gap: 71rem;
}
  
.connect-text {
    font-size: 7rem;
    margin: 0 0 0 5rem;
    line-height: 125%;
    color: #fff;
    justify-content: left;
    align-items: left;
}
  
  /* Button Styling */
.connect-button {
    background-color: #303030; /* Dark gray background for button */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
  }



  
.connect-button .arrow {
    font-size: 3rem; 
    color: #fff; /* White arrow */
  }
  
  /* Hover Effects */

.footer-header:hover .connect-text {
    color: #E4D9FF; /* Change text color on hover */
    content: "example@example.com"; /* Text changes dynamically via JavaScript */
}

.footer-header:hover .connect-button {
    background-color: #7D3C98; /* Purple button on hover */
}

/* Smooth Transition for Button Hover */
.connect-button:hover i {
    transform: scale(1.2); /* Scale arrow slightly */
}

.panel-content {
    padding: 32px;
}


.ui.container.footer {
    /*margin-top:50px;*/
    background-color: rgba(15, 15, 15, 1);
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.ui.container.footer p {
    margin: 0; /* Remove default margin */
    font-size: 12px;
    color: white;
}

.ui.container.footer .icons {
    display: flex; /* Arrange icons in a row */
    gap: 10px; /* Add space between icons */
    color: white;
}

.ui.container.footer .icons a {
    color: white; /* White icon color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust icon size */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.footerIcon {
    width: 16px;
    height: 16px;
    margin-left: 24px;
    color: #D9D9D9;
    font-size: 20px;
}

.footerIcon.invertIcon {
    /* background-color: #ffc901; */
    color: #D9D9D9;
}

.footerIcon:hover {
    color: #ffffff;
}
/*BREAKPOINTS*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding:  2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .portfolio{

        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navigation-bar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navigation-bar.active{
        display: block;
    }

    .navigation-bar a{
        display: block;
        font-size: 2rem;
        margin:  3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about-img{
        width: 70vw;
        margin-top: 4rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    } 
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    } 

    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 365px) {
    .home-img img{
        width: 90vw;
    } 

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}