@font-face {
    font-family: 'Caslon335 Bold';
    src: url("/assets/caslon335-bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&family=Montserrat:wght@400;900&family=Merriweather:ital@1&family=Raleway:wght@500&family=Permanent+Marker&display=swap');
       


html, body {
    height: 100%; /* Ensure both the html and body elements take up the full height */
    margin: 0;
}



body {
    background-color:rgb(26, 24, 24);
    min-height: 100vh; /* Use min-height for body, so it stretches fully if content is longer */
    margin: 0;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    
}

.noise-bg {
    position: absolute; /* Fixes the background noise to cover the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background-image: url('https://framerusercontent.com/images/6mcf62RlDfRfU61Yg5vb2pefpi4.png');
    background-size: 150px;
    background-repeat: repeat;
    opacity: 0.1;
    pointer-events: none; /* Ensures it doesn't block interactions */
    z-index: -1; /* Places it behind all other content */
}





/* Hover Indicator (Circle + Arrow) */
.hover-indicator {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: rgba(21, 21, 21, 0.886); /* Circle background */
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a soft shadow */
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    pointer-events: none; /* Prevents blocking interactions */
    transform: translate(-5%, -45%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out; /* Smooth fade-in */

}

/* Show the hover indicator when active */
.hover-active .hover-indicator {
    opacity: 1; /* Make it visible */
}

/*new hero */
.pearl-container {
    color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    height: 100vh;
    padding: 0 0 3rem 17rem;
}
  .pearl-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .pearl-label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .pearl-badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #1a1a1a;
    border: 1px solid #444;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #f5f5f5;
  }

  .pearl-dot {
    width: 0.5rem;
    height: 0.5rem;
    background: #37ac64;
    border-radius: 50%;
}

  .pearl-title {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
  }

  .pearl-subhead {
    font-size: 1.7rem;
    line-height: 1.5;
    color: #bbb;
    max-width: 36rem;
}

  .pearl-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .sticky-note {
    width: 5rem;

  }

  .yellow-note {
    position: absolute;
    display: inline-block;
    right: 25%;
    top: 43%;
    width: 12rem;
    height: auto;
}
  
  .blue-note {
    position: absolute;
    display: inline-block;
    right: 18%;
    top: 32%;
    width: 11rem;
    height: auto;
}

.recwell {
    position: absolute;
    display: inline-block;
    right: 21%;
    top: 38%;
    width: 2.5rem;
    height: auto;
    z-index: 2;
}

.boxmate {
    position: absolute;
    display: inline-block;
    right: 24%;
    top: 47%;
    width: 3rem;
    height: auto;
    z-index: 2;
}

.uwmadison {
    position: absolute;
    display: inline-block;
    right: 24%;
    top: 37.5%;
    width: 3rem;
    height: auto;
    z-index: 2;
}

.tape {
    position: absolute;
    top: 29%;
    left: 62%;
    z-index: 10;
}

.bucky {
    position: absolute;
    top: 33%;
    left: 65%;
    width: 30%;
    z-index: 10;
    width: 3.5%;
}
  
.schneider {
    position: absolute;
    display: inline-block;
    right: 20%;
    top: 48%;
    width: 3.5rem;
    height: auto;
    z-index: 2;
}
.cat {
    position: absolute;
    display: inline-block;
    right: 26%;
    top: 43%;
    width: 11rem;
    height: auto;
    z-index: 2;
}

.pink-note {
    position: absolute;
    display: inline-block;
    right: 28%;
    top: 27%;
    width: 10rem;
    height: auto;
}

  .sticky-icons img {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }

  .sticky-map span {
    display: inline-block;
    background-color: #eee;
    color: #222;
    border-radius: 999px;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    margin: 0.2rem;
  }

  .sticky-arrow {
    text-align: center;
    font-size: 1.5rem;
  }

  .sticky-arrow small {
    font-size: 0.75rem;
    display: block;
    margin-top: 0.5rem;
  }


  /* light beams */
  .beam-wrapper {
    position: absolute;
    top: 0;
    left: calc(50% + 2px);
    width: 200px;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .light-beam {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: top center;
    height: 200vh;
    background: linear-gradient(to bottom, rgb(190 184 171 / 20%), rgba(255, 255, 255, 0));
    filter: blur(30px);
    opacity: 0.3;
    animation: beamPulse 4s ease-in-out infinite alternate;
}

  @keyframes beamPulse {
    0% {
      opacity: 0.2;
      filter: blur(15px);
    }
    100% {
      opacity: 0.5;
      filter: blur(30px);
    }
  }
  .radial-glow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    filter: blur(50px);
    z-index: 0;
    background: radial-gradient(ellipse at top center,
      rgba(253, 237, 184, 0.049) 0%,
      rgba(255, 230, 150, 0.06) 30%,
      rgba(255, 230, 150, 0.02) 60%,
      transparent 100%
    );
    mask-image: conic-gradient(from -80deg at top center, transparent 160deg, black 160deg);
    -webkit-mask-image: conic-gradient(from -80deg at top center, transparent 160deg, black 160deg);
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
  }

  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
    z-index:100;
  }

  @keyframes float {
    0% {
      transform: translateY(0px) scale(1);
      opacity: 0.5;
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      opacity: 0.9;
    }
    100% {
      transform: translateY(0px) scale(1);
      opacity: 0.5;
    }
  }
    /* light beams end*/
/* new hero ends */
/* Noise Overlay */


.home-container {
    background-color: radial-gradient(circle at top left, rgba(255, 255, 255, 0.15) 10%, rgb(15, 13, 13)70%);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    position: relative;
}



/*  */


/* introductory text */


.introduction-frame{
    position: relative;
    width: 80vw; /* Adjust as needed */
    height: auto;
    max-width: 600px; /* Adjust for frame size */
    margin: auto;
}

.introduction-frame img {
    width: 55% ;
    height: auto;
    display: block;
}

  
.intro-text {
    color: white;
    font-family: le-monde-livre-classic-byol, serif;
    font-size: clamp(2.5rem, 3vw, 3rem);
    /* font-weight: 600; */
    margin: 0px;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust for contrast */
    font-size: 1.5rem; /* Adjust as needed */
    width: 70%;
    height: 80%;



}

  
.intro-text > .magic {
    display: inline-block;
    position: relative;
    /* font-weight: 600; */
}
  
.intro-text > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    /* animation: scale 700ms ease forwards; */
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
    /* font-family: le-monde-livre-classic-byol, serif; */
}
  
.intro-text > .magic > .magic-star > svg {
    /* animation: rotate 1000ms linear infinite; */
    display: block;
    opacity: 0.7;
}
  
.intro-text > .magic > .magic-star > svg > path {
    fill: var(--violet);
}
  
.intro-text > .magic > .magic-text {
    font-family: le-monde-livre-classic-byol, serif;
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    font-weight: 600;
    font-size: clamp(3.7rem, 4.5vw, 3.7rem);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
  
.blob {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.468) 30%, rgba(255,255,255,0.3) 65%, rgba(255,255,255,0.4) 70%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0) 100%);
    filter: blur(80px);
    pointer-events: none;
    mix-blend-mode: difference;
    animation: pulse 3s ease-in-out infinite, rotateBlob 2s linear infinite, morphBlob 5s ease-in-out infinite, spinBlob 4s linear infinite, spiralStrokeBlob 5s linear infinite;
    transition: transform 0.2s ease-out;
    z-index: -1; /* Pces it behind text */
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
}

@keyframes rotateBlob {
    0% {
        box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    }
}

@keyframes morphBlob {
    0% {
        border-radius: 50% 50% 50% 50%;
    }
    25% {
        border-radius: 95% 15% 100% 20%;
    }
    50% {
        border-radius: 10% 100% 15% 95%;
    }
    75% {
        border-radius: 120% 5% 130% 0%;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
    }
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spiralStrokeBlob {
    0% {
        box-shadow: 0 0 100px rgba(255,255,255,0.6), 20px 20px 110px black, -20px -20px 100px rgba(174,147,233,0.6), 25px -25px 105px rgba(94,96,206,0.6), -25px 25px 100px rgba(147,233,174,0.6);
    }
    25% {
        box-shadow: -20px 20px 110px black, 40px -40px 120px rgba(255,255,255,0.6), -40px 40px 110px rgba(174,147,233,0.7), 45px -45px 115px rgba(94,96,206,0.6), 40px 40px 110px rgba(147,233,174,0.6);
    }
    50% {
        box-shadow: -40px -40px 120px rgba(255,255,255,0.6), 60px 60px 130px black, -60px -60px 120px rgba(174,147,233,0.8), 65px -65px 125px rgba(94,96,206,0.6), -60px 60px 120px rgba(147,233,174,0.6);
    }
    75% {
        box-shadow: 60px -60px 130px black, -80px 80px 140px rgba(255,255,255,0.6), 80px -80px 130px rgba(174,147,233,0.7), 85px -85px 135px rgba(94,96,206,0.6), 80px -80px 130px rgba(147,233,174,0.6);
    }
    100% {
        box-shadow: 0 0 100px rgba(255,255,255,0.6), 20px 20px 110px black, -20px -20px 100px rgba(174,147,233,0.6), 25px -25px 105px rgba(94,96,206,0.6), -25px 25px 100px rgba(147,233,174,0.6);
    }
}

button:focus {
    outline: 0;
}

.link-white {
    color: white;
}


.center {
    text-align: center !important;
}

.full-height {
    height: 100vh;
}

/* introductory text finished */

/* frames */
.frames {
    position: relative;
    width: 100vw; /* Adjust based on actual image sizes */
    height: 100vh; /* Adjust based on actual image sizes */
    margin: auto;
  }
  
  .frames div {
    position: absolute;
  }



/* Main Text */

.text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    top: 14%;
    right: 32%;
}
.text img {
    width: 38rem; /* Adjust based on image size */
    height: auto;
    display: block;
}

.text p {
    position: absolute;
     /* Ensures readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds subtle contrast */
}

.name {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
    margin: 0;
    top: 30%; /* Adjust positioning */
    left: 50%;
    transform: translate(-50%, -50%);
}

.traits {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    color: #747474;
    font-weight: 700;
    text-transform: uppercase;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
}
.description {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: white;
    width: 82%;
    /* max-width: 532px; */
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


/* Bucky */

.circle {
    right: 12%;
    top: 32%;
    display: inline-block;
    transform: translate(-50%, -50%);
}
  
  .bottom-image-bucky{
    width: 12rem; 
    height: auto;
  }

  .top-image-bucky {
    position: absolute;
    bottom: 18%;
    right: 28%;
    width: 5rem;
    opacity: 0.8;
}


.hover-bucky {
    position: absolute;
    top: 13%;
    left: 102%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    gap: 5px;
}


.circle:hover .hover-bucky {
    opacity: 1;
}

.arrow-bucky {
    width: 2.7rem;
    transform: scaleX(-1);
    height: auto;
    opacity: 0.5;
    margin-left: -2rem;
    margin-top: -0.5rem;
}
.text-bucky {
    font-size: 1.1rem;
    width: 11rem; /* Increase width for more text per line */  
    color: rgb(125, 125, 125);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    word-wrap: break-word; /* Allows long words to break */
    white-space: normal; 
}


/* Square - Tools */



.square {
    right: 15.5%;
    bottom: 30%;
}
.bottom-image-tools {
    width: 15rem;
    height: 10rem;
}

.top-image-figma {
    position: absolute;
    bottom: 42%;
    right: 62%;
    width: 4.5rem;
    opacity: 1;

}

.top-image-notion {
    position: absolute;
    bottom: 48%;
    right: 15%;
    width: 2rem;
    opacity: 1;
}

.top-image-framer {
    position: absolute;
    bottom: 28.5%;
    right: 16%;
    width: 1.8rem;
    opacity: 1;
}


.top-image-claude {
    position: absolute;
    bottom: 46%;
    right: 28%;
    width: 2.5rem;
    opacity: 1;
}
.top-image-canva {
    position: absolute;
    bottom: 28%;
    right: 29%;
    width: 2rem;
    opacity: 1;
}
.top-image-adobe {
    position: absolute;
    bottom: 25%;
    right: 66%;
    width: 3.5rem;
    opacity: 1;
}
.top-image-hcjr {
    position: absolute;
    bottom: 21.5%;
    right: 43%;
    width: 4.5rem;
    opacity: 1;
}


.hover-tools{
    position: absolute;
    top: 111%;
    left: 83%;
    transform: translateY(-43%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    gap: 5px;
}


.square:hover .hover-tools {
    opacity: 1;
}

.text-tools {
    font-size: 1.1rem;
    width: 11rem; /* Increase width for more text per line */  
    color: rgb(125, 125, 125);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    word-wrap: break-word; /* Allows long words to break */
    white-space: normal; 
}

.arrow-tools {
    width: 2.7rem;
    transform:  rotate(45deg) scaleX(-1);
    height: auto;
    opacity: 0.5;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

  
/* cats */
.oval {
    right: 73%;
    position: relative;
    bottom: 20%;
}

.bottom-image-cats{
    
    width: 11rem; /* Optional: Match the size of the bottom image */
}
.top-image-cats{
    position: absolute;
    bottom: 3%; /* Adjust as needed */
    right: 11%; /* Adjust as needed */
    width: 9rem; /* Optional: Match the size of the bottom image */
    opacity: 0.8; /* Optional: Make it slightly transparent */
}


.hover-cats {
    position: absolute;
    top: 35%;
    right: 103%;
    transform: translateY(-43%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    gap: 5px;
}


.oval:hover .hover-cats {
    opacity: 1;
}

.text-cats {
    font-size: 1.1rem;
    width: 11rem; /* Increase width for more text per line */  
    color: rgb(125, 125, 125);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    word-wrap: break-word; /* Allows long words to break */
    white-space: normal; 
}

.arrow-cats {
    width: 2.7rem;
    height: auto;
    opacity: 0.5;
    margin-left: 8rem;
    margin-top: 0rem;
}

/* designed for */
.rectangle {
    right: 73.5%;
    top: 18%;
}

.bottom-image-designfor {
    width: 10.5rem; /* Adjust based on image size */
    height: auto;
}


.hover-companies {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    gap: 5px;
}

.rectangle:hover .hover-companies {
    opacity: 1;
}

.text-companies {
    font-size: 1.1rem;
    color: rgb(125, 125, 125);
    text-align: left;
    font-family: 'Permanent Marker', cursive;

}

.arrow-companies {
    width: 2.7rem;
    height: auto;
    opacity: 0.5;
    margin-left: 11rem;
    margin-top: -0.5rem;
}

.top-image-schneider{
    position: absolute;
    bottom: 66%; /* Adjust as needed */
    right: 11%; /* Adjust as needed */
    width: 4.5rem; /* Optional: Match the size of the bottom image */
    opacity: 1;

}

.top-image-recwell{
    position: absolute;
    bottom: 24%; /* Adjust as needed */
    right: 16%; /* Adjust as needed */
    width: 3rem; /* Optional: Match the size of the bottom image */
    opacity: 1;

}

.top-image-uwmad {
    position: absolute;
    bottom: 55%;
    right: 50%;
    width: 4.5rem;
    opacity: 1;
}

.top-image-boxmate{
    position: absolute;
    bottom: 23%; /* Adjust as needed */
    right: 51%; /* Adjust as needed */
    width: 3.5rem; /* Optional: Match the size of the bottom image */
    opacity: 1;
}


  
/* frames finished */




  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    bottom: 5%;
  }

  .table-top {
    width: 70%;
    height: 0.7rem;
    background-color: #3f3f3f79;
    /* background: 
        var(--over, )
        url(https://assets.codepen.io/2017/wood_door.jpg) 50%/ cover
        rgb(27, 15, 0);
    background-blend-mode: overlay; */
    margin-bottom: 3px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    box-shadow: 0px 6px 12px rgba(39, 39, 39, 0.237);
    position: relative;
    transition:  background-color 0.3s ease, border-bottom 0.3s ease, top 1s ease, height 1s ease, width 1s ease, padding 0.5s ease, opacity 0.5s ease;

  }

  .portfolio-icon{
    width:1.8rem;
    height: auto;
    position:absolute;
    left:48%;
    bottom: 93%;
    filter: drop-shadow(0 0 10px rgba(203, 203, 203, 0.8));

  }

  .portfolio-bottom-icon{
    width:2.4rem;
    height: auto;
    position:relative;
    filter: drop-shadow(0 0 10px rgba(203, 203, 203, 0.648));

  }


  

  .compartment {
    width: 30%;
    height: 15px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: relative;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  }

  

  .hover-text {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.478);
    color: rgba(255, 255, 255, 0.659);
    padding: 0.5rem 0.7rem;
    border-radius: 4px;
    font-size: 0.85rem;
    white-space: nowrap;
    border: 0.1rem solid #f8f8f86a;
    opacity: 0;
    font-weight: lighter;
    font-family: le-monde-livre-classic-byol, serif;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .vase-image {
    position: absolute;
    left: 3%;
    bottom: -0.6rem;
}
.vase-image  img{
    width: 12rem;
    height: auto;
}

/* work */

.books-work {
    position: absolute;
    right: 10%;
    bottom: 0.5rem;
    cursor: pointer;
    z-index: 1;
}

.books-work img {
    width: 8.5rem;
    height: auto;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transform-origin: bottom center; /* Ensures natural movement */
    animation: none;
}


.books-work:hover img {
    animation: lift-pop 0.4s ease-in-out;
}

@keyframes lift-pop {
    0%   { transform: rotateX(10deg) translateY(0); }
    40%  { transform: rotateX(5deg) translateY(-10px); }  /* Quick lift */
    100% { transform: rotateX(0deg) translateY(0); }      /* Drop down */
}


.work-tooltip {
    display: none;
    position: absolute;
    top: 93%; /* Positioned below the image */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 30, 0.807);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}


.books-work:hover .work-tooltip {
    display: block;
}


/* About */

.photoframe-about {
    position: absolute;
    right: 15.6rem;
    bottom: 0.5rem;
    cursor: pointer;
    z-index: 1;
}

.photoframe-about img {
    width: 5.5rem;
    height: auto;
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom center; /* Ensures the bottom stays fixed */
}

/* Tilted side-to-side movement */
.photoframe-about:hover img {
    animation: tilt-vibrate 0.2s infinite alternate ease-in-out;
}

@keyframes tilt-vibrate {
    0% { transform: rotate(-3deg); } /* Only rotating, not shifting */
    100% { transform: rotate(3deg); }
}

/* Tooltip (dialog box) styles */
.hover-dialog{
    display: none;
    position: absolute;
    top: 100%; /* Positioned below the image */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 30, 0.807);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

/* Show tooltip on hover */
.photoframe-about:hover .hover-dialog {
    display: block;
}
.books-work:hover .hover-dialog {
    display: block;
}


.block-linkedin {
    position: absolute;
    right: 4.5%;
    bottom: 3.5rem;
    display: inline-block;
}

.block-linkedin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0076b587; /* LinkedIn Blue */
    border-radius: 8px; /* Soft rounded corners for smooth effect */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; /* Places behind the image */
}

.block-linkedin:hover::before {
    opacity: 1; /* Soft glow appears on hover */
}

.block-linkedin img {
    width: 2.6rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; /* Ensures image stays on top */
    border-radius: 8px; /* Ensures the background color aligns smoothly */
}

.block-medium {
    position: absolute;
    right: 6.2%;
    bottom: 1rem;
    display: inline-block;
}

.block-medium::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A8917; /* Medium’s dark green */
    border-radius: 8px; /* Soft rounded edges */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; /* Ensures it stays behind the image */
}

.block-medium:hover::before {
    opacity: 1; /* Background glow effect appears on hover */
}

.block-medium img {
    width: 2.6rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; /* Ensures the image stays on top */
    border-radius: 8px; /* Matches the glow effect */
}


.status {
    display: flex
;
    top: 22%;
    left: 37%;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: gray;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #00ff00;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    animation: beat 1.5s infinite ease-in-out;
}

@keyframes beat {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
}



  .block-mail {
    position: absolute;
    right: 2%;
    bottom: 1rem;
    display: inline-block;
}

.block-mail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background-color: #d1483699; /* Gmail Red */
    border-radius: 6px; /* Soft rounded corners */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; /* Places behind the image */
    
}

.block-mail:hover::before {
    opacity: 1; /* Soft background glow appears on hover */
}

.block-mail img {
    width: 2.6rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; /* Keeps the image on top */
    border-radius: 8px; /* Ensures smooth alignment */
}



.footer-container {
    position: relative;
}



  #menu-index {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center;     /* Optionally align vertically if needed */
    gap: 1rem;               /* Spacing between buttons */
    padding: 1rem;
}

.video-container {
    width: 50rem;
    padding: 3rem 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Keeps the video inside the container */
    object-fit: contain; /* Keeps full video visible */
    border-radius: 12px;
}

/* Ensures video resizes properly */


.project-image-schneider {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 37rem;
}




.video-style {

    width: 100%;
    height: 100%;
    border-radius: 12px; /* Matches container */
}


/* Outermost carousel container (optional if you just want a single card) */
.carousel-container {
    display: flex;   
    height: 100vh;
    width: 100vw;            /* Centers the card horizontally */
    justify-content: center;
    /* background: radial-gradient(circle, rgba(50, 50, 50, 0.9) 10%, black 90%); */
    align-items: center;
    
    
  }


.carousel-wrapper1 {
    /* background: radial-gradient(circle, rgba(50, 50, 50, 0.9) 10%, black 90%);  */
}


.project-num-wrapper {
    flex-flow: column;
    flex:0.2;
    justify-content: flex-end;
    align-items: flex-start;
    width: 6.5rem;
    min-height: 1rem;
    font-family: Emilys, sans-serif;
    font-size: 1.25rem;
    display: flex
;
}


svg:not(:root) {
    overflow: hidden;
}

.project-num-line {
    opacity: .5;
    height: 4rem;
    margin-bottom: 1rem;
}


.project-num {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    justify-content: flex-start;
    align-items: center;
    width: 1.5rem;
    font-size: 1.5rem;
}

.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.top-right-text {
    position: absolute;
    right: 10px;
    font-size: 1rem;  /* You can adjust this size */
    font-weight: lighter;
    color: #b0b0b0; /* Change text color as needed */
    padding: 1rem 1rem 0 0;
}
 
  /* The card wrapper */
.project-container {
    flex: 0.8;
    display: flex;
    /* align-items: center; */
    background-color:black;
    z-index: 0;
    
    
    border-radius: 12px;
    padding: 0 0 0 2rem; 
    max-width: 100vw;
    width: 80%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);

    height: 70vh;
    /* filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.879)); */
    gap: 2rem;
    position: relative; 
    transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
    will-change: transform, box-shadow;
}

/* .project-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-repeat: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(20px); 
    opacity: 0.2;
    z-index: -1; 
} */

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  
.tag {
    background-color: #3f3f3f79; /* Light gray */
    color: #ffffff; /* Dark text */
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }

.project-container:hover{
    /* filter: drop-shadow(0px 10px 30px rgba(24, 24, 24, 0.8)); */
}


/* Different colors for different projects */
.project-schneider:hover {
    background-color: #87361030; /* Reddish */
}

.project-recwell:hover {
    background-color: #6c170836; /* Light blue */
}

.project-upshift:hover {
    background-color: #4caf4f2c; /* Green */
}

.project-boxmate:hover {
    background-color: #8810ac29; /* Yellow */
}

.project-wdnr:hover {
    background-color: #0468222f; /* Yellow */
}
.project-spotify:hover {
    background-color: #27d93c1e; /* Yellow */
}

#case-studies {
    top:5rem;
    position:relative ;
    width: 100vw;
    padding-bottom: 80px; 
}


.case-studies-round {
    position: absolute;
    bottom: 1.05rem;
    left: 0;
    width: 100%;
    height: 63px;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
    z-index: 0;
    overflow: hidden;
    background-color: rgb(26, 24, 24);
}

.case-studies-round::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://framerusercontent.com/images/6mcf62RlDfRfU61Yg5vb2pefpi4.png);
    background-size: 150px;
    background-repeat: repeat;
    opacity: 0.1; /* Set the opacity for just the background image */
    z-index: -1; /* Ensures the background image stays behind the div content */
}




#case-studies h1 {
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 600;
    /* background: radial-gradient(circle, rgba(50, 50, 50, 0.9) 10%, black 90%); */
    text-align: center;
    /* margin-left: 100px; */
}

  

  
.project-image {
    /* flex: 1; */
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 37rem;
}



  /* Right side: text + CTA */
  .project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;     /* Vertically center text */
  }
  
  .project-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: left;
    font-family: Dongle, sans-serif;
    color: white;

  }

  .project-logo {
    display: flex;
    justify-content: left; /* Centers the logo horizontally */
    align-items:center; /* Centers the logo vertically if needed */
    width: 15%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
       overflow: hidden; /* Prevents the image from overflowing */
}

.logo {
    max-width: 100%; /* Ensures the logo stays within the div */
    max-height: 100%; /* Ensures it doesn’t overflow vertically */
    object-fit: contain; /* Ensures the full logo is visible */
}

  
  .project-description {
    margin-bottom: 20px;
    margin-right: 2rem;
    line-height: 30px;
    font-size: 16px;
    font-weight: 200;
    font-family: Dongle, sans-serif;
    color: white;
  }


  


  /* footer */
.footer-container {
    position: relative;
    width: 100vw;
    background: #000;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden; /* Ensures no extra scrolling */
}

.video-footer-container {
    position: absolute;
    top: 8rem;
    left: 35rem;
    width: 26rem;
    height: auto;
    z-index: 0;
    overflow: hidden;
}

.video-footer-container video {
    width: 100%;

    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    opacity: 1; /* Optional: Adjust visibility */
}

footer {
    position: relative;
    top: 1.5rem;
    width: 65vw;
    height: 72vh;
    max-width: 80vw;
    background: linear-gradient(to bottom, #1a1a1a25, rgba(12, 12, 12, 0.319));
    border-radius: 2rem;
    padding: 20px;
    text-align: center;
    border: 0.2rem solid #333;
    z-index: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #aaa;
    padding: 1rem 5rem 0 5rem;
    font-family: Dongle, sans-serif;
}
.footer-content h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #777;
}
.footer-content ul {
    list-style: none;
    padding: 0;
}
.footer-content li {
    margin: 5px 0;
}
.footer-content a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.15rem;
    line-height: 150%;
}
.footer-content a:hover {
    color: white;
}
.footer-bottom {
    margin-top: 4rem;
}
.footer-bottom h1 {
    all: unset;
    padding: 1.5rem 0 0 0;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffffd1;
}
.footer-bottom p {
    font-size: 1rem;
    color: #777;

}



/* sneh */

/* --- New Navbar Styles --- */

/* When .table becomes the navbar */
/* .tabler-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 0 2rem;
    transition: height 0.3s ease, padding 0.3s ease;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
} */

/* .table.navbar-active .table-top {
    background-color: transparent !important; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: none; 
    padding: 0 2rem;
    height: 70px;
    transition: background-color 0.3s ease, border-bottom 0.3s ease, height 0.3s ease, padding 0.3s ease;
} */

/* .table-top.navbar-style {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    padding: 0 2rem;
    height: 70px;
    transition: all 0.3s ease;
} */


.table-top.navbar-style img {
    transform: scale(0.6);
    transition: transform 0.3s ease;
}

.logo-navbar {
    /* These rules can be applied by the JS inline or via class.
       If you choose to use the class, add it when fraction > 0 in JS. */
    position: fixed;
    top: 10px;
    left: 2rem;
    height: 70px; /* Ensure this matches the targetLogoHeight in JS */
    transition: all 0.3s ease;
    z-index: 1100;
}

/* Shrink the navbar icons */
.table.navbar-active .photoframe-about,
.table.navbar-active .block-linkedin,
.table.navbar-active .block-medium,
.table.navbar-active .block-mail {
    height: 10px;  /* Smaller size */
    transition: all 0.3s ease;
    margin: 0 10px; /* Adjust spacing as needed */
}

/* Smoothly hide the frames (so they “disappear”) */
.frames.navbar-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}


/* Add default transitions for smooth changes */
/* .table {
    /* transition: top 1s ease, height 1s ease */

.portfolio-icon,
.photoframe-about,
.block-linkedin,
.block-medium,
.block-mail {
    transition: height 0.3s ease, width 0.3s ease;
}
.frames {
    transition: opacity 0.3s ease;
}

/* When the table becomes fixed as a navbar, enforce a flex layout */
.table.fixed-navbar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* padding: 0 2rem; */
    /* Prevent any additional movement */
    transition: none;
}


/* Override layout when the table is in fixed-navbar mode */
.table.fixed-navbar .table-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    height: 4rem;
}

.table.fixed-navbar .photoframe-about,
.table.fixed-navbar .block-linkedin,
.table.fixed-navbar .block-medium,
.table.fixed-navbar .block-mail {
    position: static !important;  /* Remove absolute positioning */
    margin: 0 10px;
}

/* Optionally, adjust the order of icons if needed */
.table.fixed-navbar .table-top > div {
    order: 1;
}

.table.fixed-navbar .table-top > .vase-image {
    order: 0; /* If vase-image is intended for the left side in navbar, otherwise ignore */
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* .table.fixed-navbar .photoframe-about {
  position: relative;
  right: auto;
  bottom: auto;
  transition: all 0.3s ease;
  width: auto;
} */

.table.fixed-navbar .vase-image {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

/* .photoframe-about,
.block-linkedin,
.block-medium,
.block-mail {
  transition: height 0.3s ease, width 0.3s ease;
} */

#floating-logo-wrapper,
#floating-frame-wrapper {
  position: absolute;
  transition: all 0.3s ease;
}

#floating-logo-wrapper {
    left: 50%;
    bottom: 91%;
}

#floating-frame-wrapper {
    right: 24.5%;
    bottom: 5.5rem;
}
.table-top #floating-logo-wrapper,
.table-top #floating-frame-wrapper {
  position: static;
}
/* 
.photoframe-about.in-navbar {
  position: fixed !important;
  top: 10px;       
  right: 2rem;     
  z-index: 1100;
} */
/* 
.books-work.in-navbar {
  position: fixed !important;
  top: 10px;     
  right: 10rem;    
  z-index: 1100;
}
 */

.table.fixed-navbar .photoframe-about {
  position: relative; /* Clone will be positioned relative to the navbar container */
  right: auto;
  bottom: auto;
  transition: all 0.3s ease;
  width: auto;
}

.table.fixed-navbar .books-work {
  position: relative;
  /* right: auto; */
  bottom: auto;
  transition: all 0.3s ease;
  width: auto;
}

/* Scrollbar */

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000; /* deep black track */
  }
  
  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #444, #222); /* subtle metal gradient */
    border-radius: 10px;
    border: 1px solid #2e2e2e; /* matching dark border */
    box-shadow:
      inset 0 1px 2px rgba(255, 255, 255, 0.15),  /* light sheen at top */
      inset 0 -1px 1px rgba(0, 0, 0, 0.4),        /* depth at bottom */
      0 0 2px rgba(255, 255, 255, 0.05);          /* ambient glow */
    transition: all 0.3s ease;
  }
  
  /* On Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #666, #333);
    box-shadow:
      inset 0 1px 2px rgba(255, 255, 255, 0.2),
      inset 0 -1px 2px rgba(0, 0, 0, 0.6),
      0 0 3px rgba(255, 255, 255, 0.08);
  }
  


/* #navbar {
    height: 70px; 
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
} */

/* When visible, show the navbar */
#navbar.visible {
  opacity: 1;
}

.navbar {
  background-color: rgba(28, 28, 28, 0.611);
  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(3rem);
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
  max-width: 700px;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: -5px;
  right: 0;
  z-index: 2000;
  opacity: 0;
  transition: all 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .logo {
    width: 1.5rem;
    height: auto;
    margin-left: 0rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  font-size: 1.2rem;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 10px;
  border-radius: 20px;
}

.navbar i {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar i:hover {
  transform: scale(1.2);
  color: #ddd;
}

/* Dropdown Menu */
.dropdown {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background: rgb(20, 20, 20);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
  z-index: 1000;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  white-space: nowrap;
}

.dropdown a {
  color: #f0f0f0;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown a:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

.navbar-right .books {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-right .books i {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar-right .books:hover i {
  transform: scale(1.2);
  color: #ddd;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.navbar-right .books.active .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-right .books.active .dropdown-arrow {
  transform: rotate(180deg);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 12px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left {
    margin-bottom: 10px;
  }

  .brand-name {
    font-size: 1.2rem;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .icon-group {
    display: none;
  }

  .navbar-right .books {
    flex-direction: row;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 12px 15px;
  }

  .brand-name {
    font-size: 1rem;
  }

  .icon-group {
    gap: 8px;
  }

  .navbar-right {
    gap: 5px;
  }

  .dropdown {
    padding: 10px;
  }

  .dropdown a {
    padding: 10px 15px;
  }
}

.photoframe-about,
.books-work {
  transition: opacity 0.4s ease;
}