@font-face {
    font-family: 'Caslon335 Bold';
    src: url("/assets/caslon335-bold\ .ttf");
}

:root {  
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --color-bg1: rgb(56, 56, 56);
  --color-bg2: rgb(0, 0, 0);
  --color1: 50, 50, 50;   /* Dark Gray */
  --color2: 80, 80, 80;   /* Medium Dark Gray */
  --color3: 120, 120, 120; /* Medium Gray */
  --color4: 30, 30, 30;   /* Almost Black */
  --color5: 160, 160, 160; /* Light Gray */
  --color-interactive: 100, 100, 100; /* Neutral Gray */
  --circle-size: 80%;
  --blending: hard-light;
}

body {
    background-color: #000000;
    font-family: 'europa', sans-serif;
    color: white;
    background-image: url(https://d14xe37va4uv2q.cloudfront.net/pearl_portfolio_assets/Recwell-project/noise.png); 
    background-size: 850px;
    background-repeat: repeat;
    letter-spacing: 0.1px;
    position: relative;
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  

  
#intro-text {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
    width: 50%;
}
  
#intro-text > .magic {
    display: inline-block;
    position: relative;
}
  
#intro-text > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}
  
#intro-text > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
}
  
#intro-text > .magic > .magic-star > svg > path {
    fill: var(--violet);
}
  
#intro-text > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
  
#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed; /* Change from absolute to fixed */
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(174, 147, 233, 0.559), rgba(127, 255, 212, 0.4));
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1; /* Ensure it stays behind everything */
}


#blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* This will be updated dynamically */
    backdrop-filter: blur(12vmax);
    pointer-events: none; /* Allows interactions with elements beneath */
    z-index: 0; /* Keeps it behind content but visible */
}


button:focus {
    outline: 0;
}

.link-white {
    color: white;
}


.center {
    text-align: center !important;
}

.full-height {
    height: 100vh;
}

.header-content {
    position: relative;
    text-align: center;
    padding-top: 40vh;
    justify-content: center; /* Centers horizontally *

    /* background-image: url("assets\noise.png"); */
}



@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.subheader {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    text-align: center;
    color: #ffffff79;
    margin: auto;
    text-shadow: 
        0 0 1.5px #ffffff, 
        /* 0 0 1px #ab8eeb94; */
    /* margin-left: 150px; */
}

.ui.header.jumbo h1 {
    padding-top: 15rem;
    padding-bottom: 7rem;
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 600;
    text-align: center;
    /* margin-left:100px; */
}

.ui.header.project h1 {
    color: white;
    padding-top: 150px;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 600;
    text-align: left;
    /* margin-left:100px; */
}

/* @keyframes glow-pulse {
    0%, 100% {
      text-shadow: 
        0 0 3px #ffffff, 
        0 0 5px #ab8eeb;
    }
    50% {
      text-shadow: 
        0 0 6px #ffffff, 
        0 0 12px #ab8eeb;
    }
  } */

@keyframes hover-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up slightly */
    }
    100% {
        transform: translateY(0);
    }
}

.ui.header.headertext h1 {
    color: white;
    font-size: 5rem;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 400;
    text-align: center;
    /* width: 400px; */
    /* margin-left:100px; */
    /* text-shadow: 
        0 0 2px #ffffff, 
        0 0 3px #ab8eeb; */
    /* animation: glow-pulse 2s infinite ease-in-out; /* Animation loop */
    /* transition: text-shadow 0.3s ease-in-out; */ 

}


/* 
#aboutMe {
    width: 38%;
} */

.landing {
    background-image: url(landing@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* width: 50%; */
    height: 70vw;
}

.ui.container.top {
    padding-left: 15%;
    padding-right: 15%;
}

.contact {
    background-image: url(slice@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 50%;
    height: 60vw;
}

canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 20vh;
}

/*ADDED  RN*/


h1, h2, h3, p, span {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    /* text-shadow: 
        /* 0 0 1px #ffffff, 
        0 0 1px #ab8eeb;*/ 
} 

a:hover {
    /* color: var(--highlight-color); */
    text-shadow: 
        0 0 1.5px #ffffff, 
        /* 0 0 3px #ab8eeb; */
} 

nav {
    display: flex;
    width: 100%;
    opacity: 1;
    position: fixed; 
    top: 0;
    z-index: 1000; /* Ensure it's on top */
    backdrop-filter: blur(5px); 
  
    font-size: 15px;
   
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0 2px 20px 0 rgba(126, 126, 126, 0.1); */
    -webkit-backdrop-filter: blur(5px);


    /* background: transparent; Optional: Add a solid background */
}

.nav-style {
    color: #ffffffce; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Font size */
}
  
.nav-style:hover {
   color: #f8f8f8; /* Text color on hover */
   text-shadow: 0 0 10px #e4d9ff, 0 0 20px #e4d9ff, 0 0 30px #e4d9ff;
   
}

nav .nav-section {
    padding: 1rem  1.8rem;
    display: flex;
    gap: 1rem;
    /* border-bottom: 1px solid rgba(39, 39, 39, 0.3); */
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}


#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    justify-content: flex-start;
    
}

#nav-logo-section > a > i {
    font-size: 2.5rem;
}

#nav-link-section {
    flex-basis: 50%;
    gap: 50px; 
}

#nav-social-section {
    gap: 3rem;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Keep it darker on scroll */
}

 


/* .ui.four.item.secondary.menu {
    position: fixed;
    top: 0;
    z-index: 9999;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.ui.four.item.secondary.menu.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
}

.ui.secondary.menu .item.menuItem.active .rectangle {
    /* background-color: rgba(255, 255, 255, 0.555); */
    /* width: 1.9px;
    height: 30px;
    background-color: #ffc901;
    margin-right: 3px;
    /* text-align: left; */
/* } */ 
/* 
.ui.four.item.secondary.menu .item.menuItem {
    color: white;
    font-weight: 600;
    text-align: left;
} */ 

.med-jumbo {
    font-size: 80px !important;
}

#court {
    width: 15%;
}


#about-panels {

    width: 100wh;
    height: 500px;
    min-height: 380px;
    position: relative;
}

.panel {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(15, 15, 15, 1);
    float: left;
}

/* Faint Lines */
.faint-line {
    width: 95%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); /* Faint white line */
    margin: 0 2rem; 
    
}
  
  /* Connect Section Styling */
.connect-section-wrapper {
    padding-top: 6rem;
    text-align: left;
    width: 100%;
   height: 400px;
}
  
.connect-section {
    display: flex;
    /* gap: 40rem; */
    cursor: pointer;
    height:50%;
    justify-content: space-between;
    align-items: center;
}


  
.connect-text {
    font-size: 5rem;
    margin: 1rem 4rem;
    color: #fff;
    justify-content: left;
    align-items: left;
}

.connect-text {
transition: transform 0.3s ease;
width: 60%;
}


.connect-text.email {
content: 'pbharti@wisc.edu';
font-weight: bold;
}
  
  
  /* Button Styling */
.connect-button {
    background-color: #303030; /* Dark gray background for button */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    margin-right: 10rem;
  }
  
.connect-button .arrow {
    font-size: 3rem; 
    align-items: center;
    color: #fff; /* White arrow */
  }
  
  /* Hover Effects */



/* Smooth Transition for Button Hover */
.connect-button:hover i {
    transform: scale(1.2); /* Scale arrow slightly */
}

.panel-content {
    padding: 32px;
}

/* Bottom half of landing page */

.landingScrolled {
    margin: 96px;
}

.landingScrolled .ui.three.column.grid {
    margin: 0 8%;
}

.grid {
    margin-bottom: 124px;
}

/*Set the spacing between the three columns
    Using "margin" will break semantic's UI grid layout, 
    could lead to last column going to a different row.

    The odd looking selector is just copy-pasted from
    "inspect element" to be just as specific as semantic's 
    selector in order to over-ride it.
*/

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    padding-left: 3rem;
    padding-right: 0;
    overflow: visible;
}

.horizRule {
    width: 100%;
    height: 0px;
    border: solid 1px #50C878;
}

h3 {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 1.6rem;
}

h4 {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 20px;
}

button {
    font-weight: 700;
    width: 200px;
    height: 44px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0);
    /* margin-top: 24px; */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.resume-btn {
    all: unset;
    width: 100px;
    background-color: #ae93e900;
    color: white;
    border: 3px solid #ae93e984;
    padding: 5px 7px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s ease;
}
.resume-btn:hover {
    background-color: #ae93e9a0;
}

.card {
    margin-top: 40px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 300;
}

.card .yellow {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.card p {
    margin-top: 16px;
}

.ui.container.footer {
    /*margin-top:50px;*/
    z-index: 2;
    background-color: rgba(15, 15, 15, 1);
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative; /* Ensure it's not interfering with #blur */
}

.ui.container.footer p {
    margin: 0; /* Remove default margin */
    font-size: 12px;
}

.ui.container.footer .icons {
    display: flex; /* Arrange icons in a row */
    gap: 10px; /* Add space between icons */
}

.ui.container.footer .icons a {
    color: white; /* White icon color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust icon size */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.footerIcon {
    width: 16px;
    height: 16px;
    margin-left: 24px;
    color: #D9D9D9;
    font-size: 20px;
}

.footerIcon.invertIcon {
    /* background-color: #ffc901; */
    color: #D9D9D9;
}

.footerIcon:hover {
    color: #ffffff;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    height:100%;
    width: 100%;
    padding: 20rem;
}

.footer-menu-section {
    flex: 1;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(180, 180, 180);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.footer-list a {
    text-decoration: none;
    color: white;
}

.footer-list a:hover {
    color: gray;
}

html, body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
  }
  
  :root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  
.gradient-bg {
width: 100%;
height: 100%;
position: relative;
overflow: hidden;
background: linear-gradient(40deg, gray, black);
top: 0;
left: 0;

svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
}


.gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
}

.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
}

.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
}
}

#case-studies {
    padding-top: 170px;
    margin-bottom: 250px;
    position: relative;
}

.media-box {
    background: #c8101000; /* Background color */
    padding: 48px;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.prev-img, .prev-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.media-box:hover .prev-img,
.media-box:hover .prev-video {
    transform: scale(1.05); /* Slight zoom on hover */
}

.overlay-text {
    position: absolute;
    top: 10px;
    left: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.overlay-icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

/* Contact Page */

.allLinks {
    margin-left: 16px;
    margin-top: 32px;
    display: block;
}

.smallIcon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 20px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    overflow: auto;
}

.contact-text {
    display: inline;
    vertical-align: top;
    line-height: 32px;
    font-size: 16px;
    color: white;
}

.ui.container.contact {
    min-height: calc(100vh - 99px);
}

.contacticon {
    color: black;
    font-size: 16px;
    margin-top: 4px;
    width: 24px;
    text-align: center;
}

.contactLink {
    width: fit-content;
}

.contactLink:hover>.contact-text {
    color: #ffffff;
}

.contactLink:hover>.smallIcon {
    background-color: #ffffff;
}

.contactLink:hover>.contacticon {
    color: #ffffff;
}

/* Case Study Page */

.studyCard {
    margin-top: 60px;
    margin-bottom: 120px;
}

#case-space {
    height: 120px;
}

.studyHeader {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-bottom: 60px;
}

.studyTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 24px;
}

.studyDesc {
    margin-bottom: 40px;
    margin-right: 2rem;
    line-height: 30px;
    font-size: 16px;
    font-weight: 200;
}

.seeMore {
    color: #ae93e9;
    font-weight: bold;
    transition: all 0.20s ease-in-out;
}

.seeMore:hover {
    color: #ab8eeb;
    margin-left: 10px;
    -webkit-transition: all 0.20s ease-in-out;
    transition-timing-function: ease-in-out;
    transition: all 0.20s ease-in-out;
}

.prev-img {
    width: 625px;
    /* height: 500px; */
    margin-top: 50px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); */
    transition: all 0.20s ease-in-out;
}

.prev-img:hover {
    -webkit-transition: all 0.20s ease-in-out;
    transition-timing-function: ease-in-out;
    transform: scale(1.05); /* Adjust scale value for more/less zoom */
    /* transition: all 0.20s ease-in-out; */
    /* margin-top: 60px; */
    box-shadow: 0px 0px 20px rgba(137, 137, 137, 0.393), 
                0px 0px 40px rgba(96, 96, 96, 0.5);
}

.navigationArrow {
    background-color: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.proj-arrow {
    position: absolute;
    top: 144px;
    left: 1px;
    background-color: #ab8eeb5d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.image-box {
    position: relative;
}

#moreProjects {
    border: none;
    font-weight: 700;
    color: #ffffff;
    float: left;
    margin-left: 24px;
    background-color: #353535;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.6);
    position: relative;
}

#moreProjects:hover {
    background-color: #ae93e9;
    color: black;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover */
}

/* Project Details */

.projectDetails {
    margin-top: 50px;
}

.projectDetails .leftPanel {
    float: left;
    width: 20%;
}

.projectDetails .leftPanel .title {
    color: #50C878;
    font-weight: bold;
    font-size: 18px;
}

.projectDetails .leftPanel .item {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 40px;
    line-height: 28px;
}

.projectDetails .description {
    font-size: 16px;
    margin-left: 20%;
    width: 60%;
}

.description {
    line-height: 30px;
    font-weight: 300;
}

.navigationArrow.back {
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.linkToNextProject {
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
}

.linkToNextProject .nextProject {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
}

.linkToNextProject .projectName {
    color: #50C878;
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.linkToNextProject .next {
    background-color: #ffffff;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 64px;
    height: 64px;
    padding: 1fac5px;
}

.white {
    background-color: white;
}

.grey {
    background-color: #F7F7F7;
}

.section {
    padding-top: 96px;
    padding-bottom: 32px;
    width: 100%;
}

.large-img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.section-width {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    overflow: auto;
}

.caption {
    margin-top: 14px;
    font-size: 16px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 400;
    color: #595959;
    text-align: center;
    margin-bottom: 64px !important;
}

.major-title {
    font-size: 38px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 200;
    margin-bottom: 32px;
    color: black;
}

.section-img {
    width: 100%;
}

.section-text {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    font-weight: 300;
    color: black;
    margin-bottom: 64px !important;
}

.column-left {
    display: inline-block;
    margin-right: 32px;
    width: calc(50% - 32px);
    overflow: auto;
    float: left;
}

.column-right {
    display: inline-block;
    margin-left: 32px;
    width: calc(50% - 32px);
    overflow: auto;
    float: left;
}

.section-list {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: black;
    margin-left: 5%;
}

.section-title {
    font-size: 24px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 200;
    margin-bottom: 32px;
    color: black;
}

.ui.container.top.project {
    padding-right: 8%;
    padding-left: 8%;
}

@media only screen and (min-width: 2000px) {
    .ui.container.top {
        padding-left: 20%;
        padding-right: 20%;
    }
    .ui.header.headertext h1 {
        font-size: 96px;
    }
    .subheader {
        font-size: 24px;
    }
    #about-panels {
        background-color: rgba(0, 0, 0, 0.3);
        padding-left: 12%;
        padding-right: 12%;
        height: 30vh;
        min-height: 300px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
    .column>.studyCard {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .ui.container.top {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
    .ui.container.top.project {
        height: 800px;
    }
    .projectDetails .description {
        font-size: 16px;
        margin-left: 24%;
        width: 64%;
    }
    .studyTitle {
        letter-spacing: 12px;
        text-align: left;
    }
    .studyHeader {
        text-align: left;
    }
    .proj-arrow {
        display: none;
    }
    .studyCard {
        margin-right: 24px;
    }
    .column.image-box- {
        padding-right: 3rem !important;
        padding-left: 0rem !important;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .prev-img {
        width: 100%;
        margin-left: 0%;
        margin-top: 23%;
    }
    .landingScrolled .ui.three.column.grid {
        margin: 0;
    }
    .ui.grid>.five.wide.column {
        display: none !important;
    }
    .ui.grid>.one.wide.column {
        display: none !important;
    }
    .ui.grid>.ten.wide.column {
        width: 100% !important;
        padding: 1rem !important;
    }
    .panel-1,
    .panel-2 {
        width: 50%;
    }
    #about-panels {
        max-height: 25vh;
        min-height: 330px;
    }
    .panel-3 {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .ui.column.grid>.column {
        width: 100% !important;
    }
    .landingScrolled .ui.three.column.grid {
        margin: 0;
    }
    body {
        position: relative;
    }
    #aboutMe {
        width: 100%;
    }
    #court {
        width: 30%;
    }
    .ui.header.jumbo h1 {
        color: white;
        font-size: 48px;
    }
    .ui.header.project h1 {
        font-size: 48px;
    }
    .subheader {
        font-size: 20px;
        line-height: 32px !important;
    }
    .card {
        font-size: 16px;
    }
    .ui.container.landing {
        height: 650px;
    }
    .landing {
        background-position: bottom;
        background-size: 150%
    }
    .contact {
        background-position: 80% 100%;
        background-size: 150%;
    }
    .section-width {
        padding-right: 5%;
        padding-left: 5%;
    }
    .column-left,
    .column-right {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
    .large-img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .leftPanel {
        width: 100% !important;
        display: block;
    }
    .description {
        margin-left: 0% !important;
        width: 100% !important;
        display: block;
    }
    .ui.grid>* {
        padding-left: 0px;
        padding-right: 0px;
    }
    .project {
        overflow: auto;
    }
    .section {
        padding-top: 48px;
    }
    .caption {
        margin-bottom: 32px !important;
    }
    .projectDetails {
        margin-bottom: 64px;
    }
    .section-title {
        font-size: 24px;
    }
    .major-title {
        font-size: 32px;
    }
    .full-height {
        height: auto;
    }
    .studyTitle {
        font-size: 32px;
        letter-spacing: 5px;
        text-align: left;
    }
    .ui.column.grid>[class*="five wide"].column,
    .ui.grid>.column.row>[class*="five wide"].column,
    .ui.grid>.row>[class*="five wide"].column,
    .ui.grid>[class*="five wide"].column {
        display: none;
    }
    .ui.column.grid>[class*="one wide"].column,
    .ui.grid>.column.row>[class*="one wide"].column,
    .ui.grid>.row>[class*="one wide"].column,
    .ui.grid>[class*="one wide"].column {
        display: none;
    }
    .ui.column.grid>[class*="ten wide"].column,
    .ui.grid>.column.row>[class*="ten wide"].column,
    .ui.grid>.row>[class*="ten wide"].column,
    .ui.grid>[class*="ten wide"].column {
        width: 100% !important;
    }
    .ui.grid>.column:not(.row),
    .ui.grid>.row>.column {
        padding-left: 0px;
        padding-right: 0px;
    }
    .studyHeader {
        text-align: left;
    }
    .studyCard {
        margin-bottom: 0px;
        width: 96%;
    }
    .proj-arrow {
        display: none;
    }
    .prev-img {
        width: 96%;
        margin-top: 0px;
    }
    .studyDesc {
        font-size: 16px;
    }
    .ui.grid {
        margin-left: 0px !important;
    }
    .projectName {
        font-size: 30px !important;
    }
    .nextProject {
        font-size: 24px;
    }
    .ui.container.top.landing {
        width: 100%;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .ui.container.top.contact {
        width: 100%;
        min-height: 100vh !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .ui.container.landingScrolled {
        width: 84%;
        margin-left: 8% !important;
        margin-right: 8% !important;
    }
    .ui.container.studies {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .ui.container.project {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .ui.container.footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
    }
    .allLinks {
        margin-left: 0px;
        margin-top: 32px;
    }
    .contact-text {
        font-size: 18px;
    }
    .med-jumbo {
        font-size: 48px !important;
    }
    .ui.container.contact+.ui.container.footer {
        position: default;
        bottom: initial;
    }
}

@media only screen and (max-width: 800px) and (min-width: 320px) {
    .panel-1,
    .panel-2,
    .panel-3 {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .ui.container.landing {
        height: 120vh;
    }
    .studyHeader {
        line-height: 32px;
    }
    .ui.container.contact {
        min-height: 100vh;
        height: 140vh;
    }
    .smallIcon {
        height: 28px;
        width: 28px;
        margin-right: 16px;
    }
    .contacticon {
        font-size: 16px;
        width: 28px;
        margin-top: 6px;
    }
    .contact-text {
        font-size: 15px;
        line-height: 28px;
    }
    .panel-1 {
        width: 100%;
    }
    .panel-2 {
        width: 100%;
    }
    .prev-img:hover {
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
        margin-top: 60px;
    }
}